/.idea
__pycache__
.pytest_cache

thesis-api/venv
thesis-api/env
thesis-api/.idea

thesis-gui/node_modules
thesis-gui/.pnp
thesis-gui/.pnp.js

thesis-gui/coverage

thesis-gui/build

thesis-gui/.DS_Store
thesis-gui/.env.local
thesis-gui/.env.development.local
thesis-gui/.env.test.local
thesis-gui/.env.production.local
thesis-gui/.vscode
thesis-gui/.idea

thesis-gui/npm-debug.log*
thesis-gui/yarn-debug.log*
thesis-gui/yarn-error.log*

thesis-gui/.eslintcache
